html {
    font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
}

body {
    font-size: 1.0em;
}

h1, h2, h3, h4, h5, h6 {
    color: #733;
    padding: 0.5em 0;
    margin: 0;
}

h3, h4, h5, h6 {
    padding: 0.25em 0;
}

a { 
    text-decoration: none;
    color: #444;
    transition: all 0.25s;
}

header a:hover {
    border-color: orange;
    color: orange;
}

a:hover {
    border-bottom: solid 1px black;
    color: black;
}

.marginless {
    margin: 0;
    padding: 0;
}

.icon {
    width: 32px;
    height: 32px;
    font-size: inherit;
    line-height: inherit;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    transition: all 0.25s;
}

header .icon svg, .pager .icon svg {
    fill: white;
}
.icon svg {
    fill: #333;
    width: 100%;
    height: 100%;
}

.social a:hover {
    border: 0;
    color: red;
}
.social a:hover .icon {
    height: 38px;
    width: 38px;
}

.social a:hover .icon svg {
    fill: red;
}

.centered-text {
    text-align: center;
    vertical-align: middle;
}

.small {
    font-size: 75%;
}

.big {
    font-size: 7.5em;
}

strong {
    font-weight: bold;
}



header {
    color: white;
    background-color: #613;
    padding: 1em 0;
}

.intro h1 {
    font-size: 2.5em;
    display: inline-block;
    padding: 0;
    padding-right: 10px;
    word-break: keep-all;
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header p {
    font-size: 1.25em;
}

.social {
    display: inline-block;
}

header a, header input {
    color: white;
}

header .icon {
    fill: white;
}

header .search {
    color: #ddd !important;
}

.search ::placeholder {
    font-weight: normal;
}

.search input[type="text"] {
    border-left: 0;
    border-right: 0;
    border-top: 0;
} 

.search {
    margin: 1em 0;
}

.search input {
    display: inline-block;
    font-size: 3em;
    font-weight: bold;
}

header .search input {
    font-size: 1.2em;
}

.menu {
    line-height: 2;
}

.menu-entry:last-child {
    padding: 0;
}


.menu-entry {
    padding-right: 1em;
    display: inline-block;
}

.menu .icon {
    width: 24px;
    height: 24px;
}

.menu a:hover {
    font-size: 105%;
}

.tags {
    font-size: 0.9em;
}

.date {
}

.title {
    font-size: 1.6em;
    font-weight: bold;
    font-weight: bolder;
}

.title, .title a { 
    color: #611;
}

.big-title {
    font-size: 2.5em;
    padding: 0;
    margin: 0.25em 0;
}

.summary {
    background-color: #f8f8f8;
    padding: 0.5em;
}

footer {
    margin-top: 2em;
    padding: 2em 0;
    background-color: #faa;
    text-align: center;
    min-height: 100%;
}

a, code, main {
    word-wrap: break-word; /* IE */
    word-break: break-all;
}

main {
    hyphens: auto;
}


main, pre {
    overflow-x: auto;
}

.hide {
    opacity: 0.0;
    display: none;
}

@media (min-width: 400px) and (min-height: 500px) {
    header {
        padding: 3em 0;
    }
    .intro h1 {
        font-size: 3em;
    }
    .big-title {
        font-size: 3em;
    }
    .search {
        margin: 2em 0;
    }
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

ul {
    padding-left: 1em;
}

li {
    list-style-position: outside;
    padding-left: 0.75em;
}

ul ul ul ul ul ul, ul ul ul ul, ul ul {
    list-style: square;
}

ul, ul ul ul, ul ul ul ul ul {
    list-style: disc;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.pager a {
    font-size: 1.3em;
}

.toc-link {
    font-style: italic;
}
