/* COLORS:

main:
#1B5A87
#AEFEF4

highlights:
#FF5F40
#CC1814
*/

html {
    font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
}

body {
    font-size: 1.0em;
}

h1, h2, h3, h4, h5, h6 {
    color: #1B5A87 /* HEADER BACKGROUND COLOR*/;
    padding: 0.5em 0;
    margin: 0;
}

header h1 {
  color: white;
}

h3, h4, h5, h6 {
    padding: 0.25em 0;
}

a { 
    text-decoration: none;
    font-weight: bold;
    color: #444;
    transition: color 0.25s;
}

header a:hover {
    border-color: #FF5F40;
    color: #FF5F40;
}

a:hover {
    border-bottom: solid 2px #CC1814;
    color: #CC1814 !important;
}

.marginless {
    margin: 0;
    padding: 0;
}

.icon {
    width: 32px;
    height: 48px;
    font-size: inherit;
    line-height: inherit;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    transition: all 0.25s;
    padding: 2px;
}

header .icon svg, .pager .icon svg {
    fill: white;
}

.icon svg {
    fill: #333;
    width: 100%;
    height: 100%;
}

.social a:hover {
    border: 0;
    color: #CC1814;
}
.social a:hover .icon {
    height: 48px;
    width: 38px;
}

.social a:hover .icon svg {
    fill: red;
}

.social {
    font-size: 1em;
    font-weight: bold;
}

.centered-text {
    text-align: center;
    vertical-align: middle;
}

.small {
    font-size: 75%;
}

.big {
    font-size: 7.5em;
}

strong {
    font-weight: bold;
}



header {
    color: white;
    background-color: #1B5A87 /* HEADER BACKGROUND COLOR */;
    padding: 0;
}

.intro h1 {
    font-size: 2.4em;
    display: inline-block;
    padding: 0;
    padding-right: 10px;
    word-break: keep-all;
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5em;
}

.home h1 {
    font-size: 3.5em;
}

.home .container {
    padding: 0;
    padding-top: 5em;
    padding-bottom: 15em;
}

header p {
    font-size: 1.25em;
}

.social {
    display: inline-block;
}

header a, header input {
    color: white;
}

header .icon {
    fill: white;
}

header .search {
    color: #ddd !important;
}

.search ::placeholder {
    font-weight: normal;
}

.search input[type="text"] {
    border-left: 0;
    border-right: 0;
    border-top: 0;
} 

.search {
    margin: 0.7em 0;
}

.search input {
    display: inline-block;
    font-size: 3em;
    font-weight: bold;
}

header .search input {
    font-size: 1.2em;
}

.menu {
    line-height: 2;
    padding: 1em 0;
}

.menu-entry:last-child {
    padding-right: 0;
}


.menu-entry {
    padding-right: 1.2em;
    display: inline-block;
    font-weight: bold; 
}

.menu-entry .active {
    color: #bbb; 
    border-bottom: solid 2px #bbb;
}

.menu .icon {
    width: 18px;
    height: 36px;
    vertical-align: middle;
}

.tags {
    font-size: 80%; 
}

header .tags {
    font-size: 69%; 
}

.date {
}

.title {
    font-size: 1.6em;
    font-weight: bold;
    font-weight: bolder;
}

.title, .title a { 
    color: #1B5A87 /* HEADER BACKGROUND COLOR */;
}

.big-title {
    font-size: 2.4em;
    padding: 0;
    margin: 0.25em 0;
}

.summary {
    background-color: #f8f8f8;
    padding: 0.5em;
}

footer {
    margin-top: 2em;
    padding: 0.5em 0;
    text-align: center;
    min-height: 100%;
}

a, code, main {
    word-wrap: break-word; /* IE */
    word-break: break-all;
}

main {
    hyphens: auto;
}


main, pre {
    overflow-x: auto;
}

.hide {
    opacity: 0.0;
    display: none;
}

@media (min-width: 400px) and (min-height: 500px) {
    .intro h1 {
        font-size: 2.0em;
    }
    .big-title {
        font-size: 2.2em;
    }
    .search {
        margin: 0.6em 0;
    }
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

ul {
    padding-left: 1em;
}

li {
    list-style-position: outside;
    padding-left: 0.75em;
}

ul ul ul ul ul ul, ul ul ul ul, ul ul {
    list-style: square;
}

ul, ul ul ul, ul ul ul ul ul {
    list-style: disc;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 600vh;
}

main {
    flex: 1;
}

.pager a {
    font-size: 1.0em;
}

.pager .icon {
    height: 27px;
}

.emph {
    font-style: italic;
}

.btn a:hover, a:hover.btn {
    border-bottom: 0;
}

.btn {
    background: #333;
}


.btn-c:hover {
    background: #FF5F40;
}
.btn-c {
    background: #FF5F40;
}
h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.7em;
}


