<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
<head>
  {{- partial "head" . }}
</head>
<body id='top-of-page'>
<header>
{{- if .IsHome -}}
  {{- partial "home" . }}
{{- end -}}
<div class="container">
  {{- partial "header" . }}
</div>
</header>
<main>
<div class="container">
  {{- block "content" . }}{{ end }}
</div>
</main>
<footer>
<div class="container">
  {{- partial "footer.html" . -}}
  {{- if .Site.Copyright -}}
  <p>{{ .Site.Copyright | markdownify }}</p>
  {{- end -}}
</div>
</footer>
{{- partial "scripts.html" . -}}
{{- block "scripts" . }}
{{ end -}}
</body>
</html>
