{{ define "content" }}
<section>
<noscript>
  <p class="msg">Enable Javascript to search this website</p>
</noscript>

<div>
  {{ .Content }}
  {{ partial "search" . }}
</div>

<div id="searchResults"></div>

<p>
Browse all 
{{ range $name, $taxonomy := .Site.Taxonomies }}
  <a href="/{{ $name }}">{{ $name }}</a>,
{{ end }}
or <a href="/">articles</a>.
</p>
  
</section>
{{ end }}

{{ define "scripts" }}
<script src="{{ .Site.BaseURL }}/js/fuzzysort.js"></script>
{{- $.Scratch.Add "searchindex" slice -}}
{{- range $index, $element := .Site.Pages -}}
    {{- $.Scratch.Add "searchindex" (dict "id" $index "title" $element.Title "url" $element.Permalink "tags" $element.Params.tags "text" ($element.Summary | plainify) "date" ($element.Date.Format "2 Monday January 2006") "type" $element.Type) -}}
{{- end -}}
<script>
var site = ({{- $.Scratch.Get "searchindex" -}}).map(function(d) {
            if (d.tags === null) {
                d.tags = "";
            } else {
                d.tags = "#" + d.tags.join(" #"); 
            }
            return d;
        }),
        fuzzyOptions = {
            limit: 25,
            allowTypo: true,
            keys: [
              "title",
              "date",
              "tags",
              "url",
              "text",
            ]
    },
    siteIndex = site.map(function(d) {
        var e = {};
        Object.keys(d).forEach(function(k) {
            if (fuzzyOptions.keys.indexOf(k) >= 0) {
                e[k] = fuzzysort.prepare(d[k]);
            } else {
                e[k] = d[k];
            }
        });
        return e;
    });
function search(query) {
    /*
    0. regex = new RegExp(query, "i")
    1. for all entries, for all keys:
       element.target.search(regex)
    2. if matched, add to exactResults in fuzzysort's result format
       [ { target: element.target 
           indexes: [index, ..., index+query.length] 
           score: EXCELLENT } ] 
       obj: element
    3. remove from results to avoid double match
    */
    var results = fuzzysort.go(query, siteIndex, fuzzyOptions),
        container = document.getElementById("searchResults");

    var regex = new RegExp(query, "i"),
        exactResults = [],
        exactResultIds = [];
    
    site.forEach(function (element, index) {
        var result = [], validResult = false;
        fuzzyOptions.keys.forEach(function(key) {
            var ix = element[key].search(regex);
            if (ix >= 0) {
                validResult = true;
                var indexes = new Array(query.length).fill();
                indexes.forEach(function(d, i) {
                    indexes[i] = ix + i;
                });
                var keyResult = {
                        target: element[key],
                        indexes: indexes,
                        score: 1E9,
                    };
                result.push(keyResult);
            } else {
                result.push(null);
            }
        });
        if (validResult) {
            result.obj = siteIndex[index];
            exactResults.push(result);
            exactResultIds.push(result.obj.id);
        }
    });

    // Remove all duplicates
    results = exactResults.concat(results.filter(function(item) {
        return exactResultIds.indexOf(item.obj.id) === -1;
    }));

    container.innerHTML = "";

    if (results.length === 0 && query.length > 0) {
        container.innerHTML = "<p>No results.</p>";
    }
    
    results.forEach(function(result) {
        var resultDiv = document.createElement("div"),
            resultObj = site[result.obj.id];
        resultDiv.setAttribute("class", "result");
        container.appendChild(resultDiv);

        // Add highlighted HTML to the list of results
        // or force adding the content, even if it was not part of the match
        function add(keyResult, index, forceShow, makeLink) {
            var html = null;
            if (!(keyResult === undefined || keyResult === null)) {
                html = fuzzysort.highlight(keyResult, "<strong>", "</strong>");
            }
            if (forceShow) {
                if (html === null) {
                    html = resultObj.title;
                }
                html = resultObj.type + ": " + html;
            }
            if (html !== null) {
                var element = document.createElement("p");
                element.setAttribute("class", fuzzyOptions.keys[index]);
                if (makeLink) {
                    var anchor = document.createElement("a");
                    anchor.setAttribute("href", resultObj.url);
                    element = anchor;
                }
                element.innerHTML = html;
                resultDiv.appendChild(element);
            }
        }

        var titleIx = fuzzyOptions.keys.indexOf("title");
        
        // Always show a title
        add(result[titleIx], titleIx, true, true);
        result.forEach(function(d, i) {
            if (i !== titleIx) {
                add(d, i);
            }
        })

    });
}
/*
var index = lunr(function() {
    this.field('title');
    this.field('date');
    this.field('text');
    for (i in searchIndex) {
        this.add(searchIndex[i]);
    }
});
*/

/*
var fuseOptions = {
  shouldSort: true,
  tokenize: true,
  matchAllTokens: true,
  includeMatches: true,
  threshold: 0.5,
  location: 0,
  distance: 1000,
  maxPatternLength: 32,
  minMatchCharLength: 1,
  keys: [
    "title",
    "date",
    "tags",
    "text",
  ]
};

// Show the entire field, even if it doesn't match
var smallKeys = ["title", "date", "tags"],

// how much non-matched characters to show around all matches
    contextLength = 10;

var fuse = new Fuse(searchIndex, fuzeOptions);

function search(term) {
    var container = document.getElementById("searchResults");
    container.innerHTML = "";
    fuse.search(term).forEach(function(result) {
        var resultDiv = document.createElement("div");
        resultDiv.setAttribute("class", "result");
        container.appendChild(resultDiv);
    
        options.keys.forEach(function(key) {
            var isSmallKey = smallKeys.indexOf(key) >= 0;
            var element = document.createElement("p");
            resultDiv.appendChild(element);
            if (key === "title") {
                var anchor = document.createElement("a");
                anchor.setAttribute("href", result.item.url);
                element.appendChild(anchor);
                element = anchor;
            }
            
            var strs = [];
            var str = result.item[key];
            result.matches.forEach(function(match) {
                if (match.key === key) {
                    var lastIndex = 0;
                    
                    // If not a small key, 
                    // only show substring that contains matches 
                    match.indices.forEach(function(indexPair, ix) {
                        if (ix === 0 && !isSmallKey) {
                            lastIndex = Math.max(0, indexPair[0] - contextLength);
                            if (lastIndex != 0) {
                                strs.push("...");
                            }
                        }
                        strs.push(str.slice(lastIndex, indexPair[0]));
                        
                        // Highlight all matches
                        strs.push("<emph>");
                        strs.push(str.slice(indexPair[0], indexPair[1] + 1));
                        strs.push("</emph>");

                        lastIndex = indexPair[1] + 1;
                    });
                    var endIndex = str.length;
                    if (!isSmallKey) {
                        endIndex = Math.min(endIndex, lastIndex + contextLength)
                    }
                    strs.push(str.slice(lastIndex, endIndex));
                    if (endIndex != str.length) {
                        strs.push("...");
                    }
                }
            });
            
            if (strs.length === 0 && isSmallKey) {
                element.textContent = str;
            } else {
                element.innerHTML = strs.join("");
            }
            element.setAttribute("class", key);
        });
    });
}
*/

/* parse urlquery */
var qs = (function(a) {
    if (a == "") return {};
    var b = {};
    for (var i = 0; i < a.length; ++i)
    {
        var p=a[i].split('=', 2);
        if (p.length == 1)
            b[p[0]] = "";
        else
            b[p[0]] = decodeURIComponent(p[1].replace(/\+/g, " "));
    }
    return b;
})(window.location.search.substr(1).split('&'));

var searchQuery = document.getElementById("searchQuery");

/* search every time the text input changes */
searchQuery.oninput = function() {
    search(searchQuery.value);
    if (URLSearchParams !== undefined) {
        var params = new URLSearchParams(location.search.slice(1));
        params.set('q', searchQuery.value);
        window.history.replaceState({}, '', location.pathname + '?' + params);
    }
};

/* start a search if query is in the URL */
if (qs["q"] !== undefined) {
    search(qs["q"]);
    searchQuery.value = qs["q"];
}

</script>
{{ end }}
