{{ define "content" }}
<section>
{{ if (not .Params.HideTitle) }}
<p class="title big-title">
    {{- .Title -}}{{- if .Draft }} <span class='emph'>(Draft)</span>{{- end -}}
</p>
{{ end }}

{{- if or (not .Params.HideDate) (not .Params.HideTags) }}
<p>
  {{ if not .Params.HideDate }}
  {{ partial "date" (.Date.Format "January 2, 2006") }}
  {{ end }}
  {{ if and (not .Params.HideTags) .Params.tags }}
  {{ partial "tags" .Params.tags }}
  {{ end }}
</p>
{{ end -}}

{{- if (eq .Params.toc "top") }}
<aside>
  <h3 id='toc-of-page'>Table of contents</h3>
  {{ .TableOfContents }}
</aside>
{{ end -}}

{{- if and .Params.toc (ne .Params.toc "top") }}
<p>
  <a class="emph" href='#toc-of-page'>Table of contents available.</a>
</p>
{{ end -}}

{{- if and (.Site.Params.Info.adsense) (.Params.adsenseTop) }}
  {{ partial "adsense" . }}
{{ end -}}

<div class="content">
  {{ .Content }}
</div>
  
{{- if .Site.Params.Info.related }}
  <div class="related">{{ partial "related" . }}</div>
{{ end -}}

{{- if and .Params.toc (ne .Params.toc "top") }}
<aside>
  <h2 id='toc-of-page'>Table of contents</h2>
  {{ .TableOfContents }}
</aside>
{{ end -}}

{{ if and (.Site.Params.Info.adsense)  (.Params.adsenseBottom) }}
{{ partial "adsense" . }}
{{ end}}
</section>
{{ end }}


{{ define "scripts" }}
{{ if (eq .Params.highlight true) }}
<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/prism.css">
<script src="{{ .Site.BaseURL }}/js/prism.js"></script>
{{ end }}

{{ if (eq .Params.mathjax true) }}
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
root: "{{ .Site.BaseURL }}/MathJax",
extensions: ["tex2jax.js"],
jax: ["input/TeX", "output/HTML-CSS"],
"HTML-CSS": { fonts: ["TeX"] },
tex2jax: {
  inlineMath: [['$','$'], ['\\(','\\)']],
  processEscapes: true,
  processEnvironments: true,
  skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
},
});
</script>
    <!--src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.3/MathJax.js?config=TeX-MML-AM_CHTML"-->
<script type="text/javascript" async
    src="{{ .Site.BaseURL }}/MathJax/MathJax.js"
></script>
{{ end }}
{{ end }}
