<div class="intro">
<h1>
<a href="{{ .Site.BaseURL }}">
{{ .Site.Title }}
</a>
</h1>

<div class="social">        
  {{- range $platform, $username := .Site.Params.social -}}
  {{- if $username -}}
  <a href='{{ print ( index $.Site.Data.theme.social.base $platform ) $username }}' target='_blank' rel='noopener'>
    {{ partial "icon" $platform }}
  </a>
  {{- end -}}
  {{- end -}}
</div>
</div>

{{ if .IsHome }}
<p>{{ .Site.Params.Description }}
{{ if .Site.Params.ExtraInfo }}
{{ .Site.Params.ExtraIntro | markdownify }}
{{ end }}

<span class="tags">
{{- range $index, $val := first 20 $.Site.Taxonomies.tags.ByCount -}}
{{ if (gt $index 0) }},{{ end }}
<a href="{{ $.Site.LanguagePrefix }}/tags/{{ .Name | urlize }}"
> #{{ .Name }}</a>
{{- end -}}
</p>
{{ end }}

{{ if (not (eq "search" .Params.layout)) }}
{{ partial "search" . }}
{{ end }}

<nav>
    {{ partial "menu" (dict "menus" .Site.Menus "currentPage" . "menuName" "main") }}
</nav>
