<section>
    {{ range sort .Pages }}
    <article>
      <p><a href="{{ .Permalink }}">
      {{ .Title }}{{ if .Draft }} :: Draft{{ end }}
      </a></p>
      <p>
      {{ .Date.Format "January 2, 2006" }}
      </p>
      {{ if .Params.tags }}
      <p>
        {{ partial "tags" .Params.tags }}
      </p>
      {{ end }}
      {{ if .Summary }}
      <div>
        <p>{{ .Summary | plainify | safeHTML }}</p>
        {{ if .Truncated }}
        <a href="{{ .Permalink }}">
          Read more
        </a>
        {{ end }}
      </div>
      {{ end }}
    </article>
    {{ end }}
</section>
{{ partial "pager" . }}
