<section>
  <div class="container">
    {{ range sort .Pages }}
    <article>
      <h1 class="title"><a href="{{ .Permalink }}">
      {{ .Title }}{{ if .Draft }} :: Draft{{ end }}
      </a></h1>
      <h2 class="subtitle"><a href="{{ .Permalink }}">
      {{ .Date.Format "January 2, 2006" }}
      </a></h2>
      {{ if .Params.tags }}
      <div class="subtitle">
        {{ partial "tags" .Params.tags }}
      </div>
      {{ end }}
      {{ if .Summary }}
      <div class="content">
        {{ .Summary | plainify | safeHTML }}
        {{ if .Truncated }}
        <a href="{{ .Permalink }}">
          Read more
        </a>
        {{ end }}
      </div>
      {{ end }}
    </article>
    {{ end }}
  </div>
</section>
{{ partial "pager" . }}
