<section>
  <nav class="row centered-text">
    <div class="col c4">
      {{ if .HasPrev }}
      <a class="btn smooth" href="{{ .Prev.URL }}">
        <span class="icon marginless">
          {{ partial "svg/icons" "prev" }}
        </span>
        Prev
      </a>
      {{ end }}
    </div>
    <div class="col c4">
        <br>
    </div>
    <div class="col c4">
      {{ if .HasNext }}
      <a class="btn smooth" href="{{ .Next.URL }}">
        Next
        <span class="icon marginless">
          {{ partial "svg/icons" "next" }}
        </span>
      </a>
      {{ end }}
    </div>
  </nav>
</section>
