<section>
  <nav class="row centered-text pager">
    <div class="col c4">
      {{- if .HasPrev }}
      <a class="btn btn-sm smooth" href="{{ .Prev.URL }}">
        <span class="icon marginless">
          {{ partial "entypo-icons/left.svg"}}
        </span>
        Prev
      </a>
      {{ end -}}
    </div>
    <div class="col c4">
        {{- if .HasPrev }}
        <a class="btn btn-sm smooth" href="{{ .First.URL }}">
          Page 1
        </a>
        <a class="btn btn-sm smooth" href="{{ .Last.URL }}">
          Page {{ .TotalPages }}
        </a>
        {{ else }}
          <br>
        {{ end -}}
    </div>
    <div class="col c4">
      {{- if .HasNext }}
      <a class="btn btn-sm smooth" href="{{ .Next.URL }}">
        Next
        <span class="icon marginless">
          {{ partial "entypo-icons/right.svg"}}
        </span>
      </a>
      {{ end -}}
    </div>
  </nav>
</section>
