{{ define "content" }}
<section class="centered-text">
  <h1 class="big">404</h1>
  <h2>Page not found. <span class="error-emoji"></span></h2>
  <p><a class="btn btn-c" href="{{ .Site.BaseURL }}">Home Page</a></p>
</section>

<script>
  var emojiArray = [
    "\\(o_o)/", "(˚Δ˚)b", "(^-^*)", "(≥o≤)", "(^_^)b", "(·_·)",
    "(>_<)", "(;-;)", "\\(^Д^)/",
  ];
  document.getElementsByClassName("error-emoji")[0].appendChild(
    document.createTextNode(
        emojiArray[Math.floor(Math.random() * emojiArray.length)]
    )
  );
</script>
{{ end }}

